@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        max-width: 1080px;
        background-color: rgb(39, 39, 39);
        font-family: 'Josefin Sans', sans-serif;
        margin: auto;
    }

    #root {
        height: 100vh;
    }
}